body {
  background-color: #1a1a1d;
  color: white;
}

.App {
  text-align: center;
}

.input-form {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

.input-box-submit {
  margin-top: 25px;
}

.input-box {
  width: 25%;
  margin-right: 20px;
  font-size: 18px;
  padding: 5px 2px
}



.form-label {
  font-size: 30px;
  font-weight: bold;
  text-transform: capitalize;
}

.column-holder {
  display: flex;
  justify-content: space-around;
  width: 80%;
  margin: 50px auto;
  border-radius: 15px;
  border: 5px solid #6f2232;
}

.to-do-column {
  border-right: 5px solid #6f2232;
}
.column {
  width: 100%;
}

.todo-card {
  border-radius: 15px;
  background-color: #4e4e50;
  display: flex;
  align-items: center;
  text-transform: capitalize;
  font-size: 18px;
  box-sizing: border-box;
  justify-content: space-between;
  padding: 20px;
  width: 95%;
  margin: auto;
  margin-bottom: 10px;
}

.button {
  background-color: #950740;
  border: none;
  padding: 10px 25px;
  margin-left: 5px;
  border-radius: 10px;
  box-shadow: 5px 5px 5px #1f010d;
  cursor: pointer;
}

.button:hover {
  background-color: #780e39;
}

.button:active {
  transform: translateY(5px);
  box-shadow: inset 5px 5px 5px #1f010d;
}
